root {
    --text:#000;
    --hover:red;
    --background:white;
}
* {
    box-sizing: border-box;
}
body {
    background-color:var(--background);
    font-family: 'Average', serif;
}
.container {
    margin: 0 auto;
    width:1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.header {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    padding-left:50px;
    padding-right:50px;
}
.logo {
    width:30%;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}
img.img_logo {
    border: 1px solid black;
    border-radius: 100px;
}
.name {
    padding-left: 10px;
    padding-right: 10px;
}
.menu {
    display: flex;
}
h1 {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
}
#nav {
    width:70%;
}
li {
    margin-right:15px;
    list-style: none;
    min-width:80px;
}
.nav {
    text-decoration: none;
    color:var(--text);
}
.nav:hover {
    text-decoration: none;
    color:rgb(230, 0, 0);
}
.main {
    width: 80%;
    flex-direction: column;
}
.sec {
    width:100%;
    color:var(--text);
    min-height: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    width:100%;
    text-align: center;
    margin-top: 50px;
}
.about_img {
    width: 50%;
    text-align: center;
}
p.about {
    width: 50%;
}
.sec_h1 {
    width: 100%;
}
.img_section {
    max-width: 25vw;
    border-radius: 10px;
    border: 0px solid #fff;
    border-radius: 10px;
}
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item_skill {
    padding: 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
}
img.item_img {
    align-self: center;
}
